div.IPOL_FIVEPOST-widget *, div.IPOL_FIVEPOST-widget *:before, div.IPOL_FIVEPOST-widget *:after {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
}

/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/oHi30kwQWvpCWqAhzHcCSBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* 
------------------------------------------------------------------------------------------------------------------------
1. BASIC STYLE  
------------------------------------------------------------------------------------------------------------------------
*/
.mCustomScrollbar {
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;
  /* direct pointer events to js */
}
.mCustomScrollbar.mCS_no_scrollbar,
.mCustomScrollbar.mCS_touch_action {
  -ms-touch-action: auto;
  touch-action: auto;
}
.mCustomScrollBox {
  /* contains plugin's markup */
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr;
}
.mCSB_container {
  /* contains the original content */
  overflow: hidden;
  width: auto;
  height: auto;
}
/* 
------------------------------------------------------------------------------------------------------------------------
2. VERTICAL SCROLLBAR 
y-axis
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_inside > .mCSB_container {
  margin-right: 11px;
}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
}
/* non-visible scrollbar */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-left: 0;
}
/* RTL direction/left-side scrollbar */
.mCSB_scrollTools {
  /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
  position: absolute;
  width: 10px;
  height: auto;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
}
.mCSB_outside + .mCSB_scrollTools {
  right: -26px;
}
/* scrollbar position: outside */
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  /* RTL direction/left-side scrollbar */
  right: auto;
  left: 0;
}
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  left: -26px;
}
/* RTL direction/left-side scrollbar (scrollbar position: outside) */
.mCSB_scrollTools .mCSB_draggerContainer {
  /* contains the draggable element and dragger rail markup */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
  padding-bottom: 2px;
}
.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  border-radius: 16px;
}
.mCSB_scrollTools .mCSB_dragger {
  /* the draggable element */
  cursor: pointer;
  width: 100%;
  height: 30px;
  /* minimum dragger height */
  z-index: 1;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  /* the dragger element */
  position: relative;
  width: 8px;
  height: 100%;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
  /* auto-expanded scrollbar */
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 8px;
  /* auto-expanded scrollbar */
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}
.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0;
}
/*
------------------------------------------------------------------------------------------------------------------------
4. VERTICAL AND HORIZONTAL SCROLLBARS 
yx-axis 
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_container_wrapper {
  position: absolute;
  height: auto;
  width: auto;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}
.mCSB_container_wrapper > .mCSB_container {
  padding-right: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 20px;
}
.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 20px;
}
/* non-visible horizontal scrollbar */
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 0;
}
/* non-visible vertical scrollbar/RTL direction/left-side scrollbar */
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 0;
}
/* RTL direction/left-side scrollbar */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 20px;
}
/* non-visible scrollbar/RTL direction/left-side scrollbar */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 0;
}
.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px;
}
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container {
  padding-right: 0;
}
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container {
  padding-bottom: 0;
}
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
  /* non-visible scrollbar */
  margin-left: 0;
}
/* non-visible horizontal scrollbar */
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0;
}
/* 
------------------------------------------------------------------------------------------------------------------------
5. TRANSITIONS  
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  -webkit-transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail {
  -webkit-transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s, margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: width 0.2s ease-out 0.2s, height 0.2s ease-out 0.2s, margin-left 0.2s ease-out 0.2s, margin-right 0.2s ease-out 0.2s, margin-top 0.2s ease-out 0.2s, margin-bottom 0.2s ease-out 0.2s, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
/* 
------------------------------------------------------------------------------------------------------------------------
6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS  
------------------------------------------------------------------------------------------------------------------------
*/
/* 
	----------------------------------------
	6.1 THEMES 
	----------------------------------------
	*/
/* default theme ("light") */
.mCSB_scrollTools {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
}
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 0;
  filter: "alpha(opacity=0)";
  -ms-filter: "alpha(opacity=0)";
}
.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollBox:hover > .mCSB_scrollTools,
.mCustomScrollBox:hover ~ .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}
.mCSB_scrollTools .mCSB_draggerRail {
  background: transparent;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(204, 204, 204, 0.5);
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: rgba(204, 204, 204, 0.6);
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: rgba(204, 204, 204, 0.8);
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
}
.mCSB_scrollTools .mCSB_buttonUp {
  background-position: 0 0;
  /* 
		sprites locations 
		light: 0 0, -16px 0, -32px 0, -48px 0, 0 -72px, -16px -72px, -32px -72px
		dark: -80px 0, -96px 0, -112px 0, -128px 0, -80px -72px, -96px -72px, -112px -72px
		*/
}
.mCSB_scrollTools .mCSB_buttonDown {
  background-position: 0 -20px;
  /* 
		sprites locations
		light: 0 -20px, -16px -20px, -32px -20px, -48px -20px, 0 -92px, -16px -92px, -32px -92px
		dark: -80px -20px, -96px -20px, -112px -20px, -128px -20px, -80px -92px, -96px -92px, -112 -92px
		*/
}
.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: 0 -40px;
  /* 
		sprites locations 
		light: 0 -40px, -20px -40px, -40px -40px, -60px -40px, 0 -112px, -20px -112px, -40px -112px
		dark: -80px -40px, -100px -40px, -120px -40px, -140px -40px, -80px -112px, -100px -112px, -120px -112px
		*/
}
.mCSB_scrollTools .mCSB_buttonRight {
  background-position: 0 -56px;
  /* 
		sprites locations 
		light: 0 -56px, -20px -56px, -40px -56px, -60px -56px, 0 -128px, -20px -128px, -40px -128px
		dark: -80px -56px, -100px -56px, -120px -56px, -140px -56px, -80px -128px, -100px -128px, -120px -128px
		*/
}
.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active {
  opacity: 0.9;
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
}

@-webkit-keyframes scroll-text {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}
@keyframes scroll-text {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}
@-webkit-keyframes scroll-text-rev {
  0% {
    -webkit-transform: translate(80%, 0);
            transform: translate(80%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes scroll-text-rev {
  0% {
    -webkit-transform: translate(80%, 0);
            transform: translate(80%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes burger-open-top {
  50% {
    -webkit-transform: translate3d(0, 8px, 0);
            transform: translate3d(0, 8px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
            transform: translate3d(0, 8px, 0) rotate(45deg);
  }
}
@keyframes burger-open-top {
  50% {
    -webkit-transform: translate3d(0, 8px, 0);
            transform: translate3d(0, 8px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
            transform: translate3d(0, 8px, 0) rotate(45deg);
  }
}
@-webkit-keyframes burger-open-bot {
  50% {
    -webkit-transform: translate3d(0, -8px, 0);
            transform: translate3d(0, -8px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
            transform: translate3d(0, -8px, 0) rotate(-45deg);
  }
}
@keyframes burger-open-bot {
  50% {
    -webkit-transform: translate3d(0, -8px, 0);
            transform: translate3d(0, -8px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
            transform: translate3d(0, -8px, 0) rotate(-45deg);
  }
}
@-webkit-keyframes burger-close-top {
  0% {
    -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
            transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  50% {
    -webkit-transform: translate3d(0, 8px, 0) rotate(0deg);
            transform: translate3d(0, 8px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes burger-close-top {
  0% {
    -webkit-transform: translate3d(0, 8px, 0) rotate(45deg);
            transform: translate3d(0, 8px, 0) rotate(45deg);
  }
  50% {
    -webkit-transform: translate3d(0, 8px, 0) rotate(0deg);
            transform: translate3d(0, 8px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes burger-close-bot {
  0% {
    -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
            transform: translate3d(0, -8px, 0) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate3d(0, -8px, 0) rotate(0deg);
            transform: translate3d(0, -8px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes burger-close-bot {
  0% {
    -webkit-transform: translate3d(0, -8px, 0) rotate(-45deg);
            transform: translate3d(0, -8px, 0) rotate(-45deg);
  }
  50% {
    -webkit-transform: translate3d(0, -8px, 0) rotate(0deg);
            transform: translate3d(0, -8px, 0) rotate(0deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes hint-active {
  0% {
    right: -300px;
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    right: 67px;
  }
}
@keyframes hint-active {
  0% {
    right: -300px;
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    right: 67px;
  }
}
@-webkit-keyframes icons {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes icons {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes icons2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes icons2 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.IPOL_FIVEPOST-widget {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  -webkit-transform-style: flat;
          transform-style: flat;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  font: 300 14px/20px 'Roboto', sans-serif;
}
.IPOL_FIVEPOST-widget a {
  text-decoration: none;
}
.IPOL_FIVEPOST-widget__map {
  width: 100%;
  height: 100%;
}
.IPOL_FIVEPOST-widget__search {
  width: 300px;
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
          transition: transform 1s, opacity 1s;
  z-index: 5;
}
.IPOL_FIVEPOST-widget__search-box > svg {
  width: 17px;
  height: 16px;
  margin: auto 5px auto 9px;
}
.IPOL_FIVEPOST-widget__search-box > svg .path {
  fill: #333333;
}
.IPOL_FIVEPOST-widget__search-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  background: #fff;
}
.IPOL_FIVEPOST-widget__search-list ul.open {
  padding-bottom: 1px;
  border-top: 1px solid #f5f5f5;
}
.IPOL_FIVEPOST-widget__search-list ul li {
  margin: 0;
  width: 100%;
  background: #fff;
  cursor: pointer;
  opacity: 1;
  height: 40px;
  -webkit-transition: opacity 0.5s, height 0.5s 0.1s;
          transition: opacity 0.5s, height 0.5s 0.1s;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  padding: 0 0 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.IPOL_FIVEPOST-widget__search-list ul li:hover {
  background: #e2efdf;
}
.IPOL_FIVEPOST-widget__search-list ul li:hover::after{
  background: #e2efdf;
  box-shadow: 0 0 46px 29px #e2efdf;
}
.IPOL_FIVEPOST-widget__search-list ul li.focus,
.IPOL_FIVEPOST-widget__search-list ul li:focus{
  background: #e2efdf;
}
.IPOL_FIVEPOST-widget__search-list ul li.focus::after,
.IPOL_FIVEPOST-widget__search-list ul li:focus::after,{
  background: #e2efdf;
  box-shadow: 0 0 46px 29px #e2efdf;
}
.IPOL_FIVEPOST-widget__search-list ul li p{
  margin: 0;
  line-height: 1;
}
.IPOL_FIVEPOST-widget__search-list ul li p.IPOL_FIVEPOST-widget__search-list__city-details{
  font-size: 11px;
  color: #999;
  margin-top: 2px;
}
.IPOL_FIVEPOST-widget__search-list ul li p.IPOL_FIVEPOST-widget__search-list__city-name{
  font-size: 15px;
}
.IPOL_FIVEPOST-widget__search-list ul li.no-active{
  opacity: 0;
  height: 0;
}
.IPOL_FIVEPOST-widget__search-list ul li::after{
  content: '';
  display: block;
  height: 40px;
  width: 10px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 0 46px 29px #fff;
}
.IPOL_FIVEPOST-widget__search-list__box,
.IPOL_FIVEPOST-widget__address-list__box {
  overflow: hidden;
  max-height: 420px;
}
.IPOL_FIVEPOST-widget__search-list__box .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.IPOL_FIVEPOST-widget__address-list__box .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
}
.IPOL_FIVEPOST-widget__search-list__box .mCSB_inside > .mCSB_container,
.IPOL_FIVEPOST-widget__address-list__box .mCSB_inside > .mCSB_container {
  margin-right: 0;
}
@media screen and (max-width: 395px) {
  .IPOL_FIVEPOST-widget__search {
    width: calc(100% - 80px);
  }
}
.IPOL_FIVEPOST-widget__sidebar {
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 0;
  z-index: 7;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
          transition: transform 1s, opacity 1s;
}
.IPOL_FIVEPOST-widget__sidebar-button {
  width: 100%;
  height: 62px;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.IPOL_FIVEPOST-widget__sidebar-button:not(.IPOL_FIVEPOST-widget__sidebar-burger)::after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.IPOL_FIVEPOST-widget__sidebar-button:hover {
  background: rgba(51, 51, 51, 0.15);
}
.IPOL_FIVEPOST-widget__sidebar-button svg {
  width: 28px;
  height: auto;
  margin: auto;
}
.IPOL_FIVEPOST-widget__sidebar-button.active {
  background: rgba(51, 51, 51, 0.4);
}
.IPOL_FIVEPOST-widget__sidebar-button_phone svg .IPOL_FIVEPOST-widget__phone {
  fill: #333333;
}
.IPOL_FIVEPOST-widget__sidebar-button_phone.active svg .IPOL_FIVEPOST-widget__phone {
  fill: #50a631;
}
.IPOL_FIVEPOST-widget__sidebar-button__hint {
  position: absolute;
  right: -300px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 5px 12px;
  border-radius: 30px;
  cursor: default;
  opacity: 0;
  z-index: 6;
  -webkit-transition: right 500ms ease-out, opacity 300ms ease-out;
          transition: right 500ms ease-out, opacity 300ms ease-out;
}
.IPOL_FIVEPOST-widget__sidebar-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0;
}
.IPOL_FIVEPOST-widget__sidebar-burger span {
  width: 22px;
  height: 2px;
  background: #333333;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 400ms ease-out;
          transition: transform 400ms ease-out;
}
.IPOL_FIVEPOST-widget__sidebar-burger.open span:nth-child(1) {
  -webkit-animation: burger-open-top 400ms ease-out forwards;
          animation: burger-open-top 400ms ease-out forwards;
}
.IPOL_FIVEPOST-widget__sidebar-burger.open span:nth-child(2) {
  opacity: 0;
  -webkit-transition: -webkit-transform 400ms ease-out, opacity 0ms linear 200ms;
          transition: transform 400ms ease-out, opacity 0ms linear 200ms;
}
.IPOL_FIVEPOST-widget__sidebar-burger.open span:nth-child(3) {
  -webkit-animation: burger-open-bot 400ms ease-out forwards;
          animation: burger-open-bot 400ms ease-out forwards;
}
.IPOL_FIVEPOST-widget__sidebar-burger.close span:nth-child(1) {
  -webkit-animation: burger-close-top 400ms ease-out forwards;
          animation: burger-close-top 400ms ease-out forwards;
}
.IPOL_FIVEPOST-widget__sidebar-burger.close span:nth-child(2) {
  opacity: 1;
  -webkit-transition: -webkit-transform 400ms ease-out, opacity 0ms linear 200ms;
          transition: transform 400ms ease-out, opacity 0ms linear 200ms;
}
.IPOL_FIVEPOST-widget__sidebar-burger.close span:nth-child(3) {
  -webkit-animation: burger-close-bot 400ms ease-out forwards;
          animation: burger-close-bot 400ms ease-out forwards;
}
.IPOL_FIVEPOST-widget__sidebar hr {
  margin: 0 auto;
  width: 36px;
  border: none;
  border-top: 1px solid #dddddd;
}
.IPOL_FIVEPOST-widget__logo {
  width: 85px;
  height: 55px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
          transition: transform 1s, opacity 1s;
}
.IPOL_FIVEPOST-widget__logo svg {
  width: 80%;
  margin: auto;
}
svg .IPOL_FIVEPOST-widget__logo-a {
  fill: none;
}
svg .IPOL_FIVEPOST-widget__logo-b {
  fill: #1b1918;
}
svg .IPOL_FIVEPOST-widget__logo-c {
  fill: url(#IPOL_FIVEPOST-widget__logo-gradient);
}
svg .IPOL_FIVEPOST-widget__logo-d {
  fill: #fff;
}
svg .IPOL_FIVEPOST-widget__logo-e {
  fill: #d9dadb;
}
.IPOL_FIVEPOST-widget__panel {
  width: 330px;
  height: 100%;
  overflow: hidden;
  background: rgba(59, 59, 61, 0.8);
  position: absolute;
  top: 0;
  right: 60px;
  z-index: 6;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s linear, opacity 0.5s ease-in;
          transition: transform 0.3s linear, opacity 0.5s ease-in;
}
.IPOL_FIVEPOST-widget__panel:not(.IPOL_FIVEPOST-widget__panel_ios) {
  -webkit-transform: rotateY(-101deg);
          transform: rotateY(-101deg);
}
.IPOL_FIVEPOST-widget__panel.open:not(.IPOL_FIVEPOST-widget__panel_ios) {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  opacity: 1;
}
.IPOL_FIVEPOST-widget__panel.IPOL_FIVEPOST-widget__panel_ios {
  z-index: -1;
}
.IPOL_FIVEPOST-widget__panel.IPOL_FIVEPOST-widget__panel_ios.open {
  opacity: 1;
  z-index: 6;
}
.IPOL_FIVEPOST-widget__panel-headline {
  text-align: center;
  height: 60px;
  width: calc(100% - 100px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 50px;
  cursor: default;
}
.IPOL_FIVEPOST-widget__panel-headline::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.IPOL_FIVEPOST-widget__panel-headline span {
  font-size: 24px;
  color: #fefefe;
  vertical-align: middle;
  display: inline-block;
  font-weight: 300;
  cursor: default;
}
.IPOL_FIVEPOST-widget__panel-headline.hover-long {
  text-overflow: clip;
}
.IPOL_FIVEPOST-widget__panel-headline.hover-long span {
  -webkit-animation-name: scroll-text, scroll-text-rev;
          animation-name: scroll-text, scroll-text-rev;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-duration: 10s, 7s;
          animation-duration: 10s, 7s;
  -webkit-animation-delay: 500ms, 10.5s;
          animation-delay: 500ms, 10.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards, forwards;
          animation-fill-mode: forwards, forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.IPOL_FIVEPOST-widget__panel-content {
  width: 100%;
  height: calc(100% - 60px);
  overflow: hidden;
  padding: 0 1px;
}
.IPOL_FIVEPOST-widget__panel > div {
  height: 100%;
  width: 330px;
  position: absolute;
  top: 0;
}
.IPOL_FIVEPOST-widget__panel-list {
  display: none;
  left: 0;
  -webkit-transition: left ease 0.5s;
          transition: left ease 0.5s;
}
.IPOL_FIVEPOST-widget__panel-list__item {
  width: 100%;
  height: auto;
  background: rgba(245, 245, 245, 0.1);
  padding: 16px 18px;
  color: #fff;
  margin-bottom: 5px;
  cursor: pointer;
  -webkit-transition: background 0.2s;
          transition: background 0.2s;
}
.IPOL_FIVEPOST-widget__panel-list__item:last-of-type {
  margin-bottom: 0;
}
.IPOL_FIVEPOST-widget__panel-list__item p {
  margin: 0 0 5px 23px;
  font-size: 16px;
  line-height: 1.2;
}
.IPOL_FIVEPOST-widget__panel-list__item-name {
  font-weight: 400;
}
.IPOL_FIVEPOST-widget__panel-list__item-adress svg {
  width: 14px;
  position: inherit;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 -27px;
}
.IPOL_FIVEPOST-widget__panel-list__item-adress svg .svg-line {
  fill: #fff;
}
.IPOL_FIVEPOST-widget__panel-list__item-time svg {
  width: 14px;
  position: inherit;
  display: inline-block;
  vertical-align: baseline;
  margin: 0 10px -1px -27px;
}
.IPOL_FIVEPOST-widget__panel-list__item-time svg .svg-line {
  fill: #fff;
}
.IPOL_FIVEPOST-widget__panel-list__item:hover {
  background: rgba(245, 245, 245, 0.15);
}
.IPOL_FIVEPOST-widget__panel-list__item.IPOL_FIVEPOST-widget__panel-list__item_active {
  box-shadow: inset 1px -300px 20px 20px rgba(71, 169, 36, 0.09);
}
.IPOL_FIVEPOST-widget__panel-details {
  display: none;
  right: -330px;
  -webkit-transition: right ease 0.5s;
          transition: right ease 0.5s;
}
.IPOL_FIVEPOST-widget__panel-details .IPOL_FIVEPOST-widget__panel-headline {
  position: relative;
  cursor: default;
}
.IPOL_FIVEPOST-widget__panel-details .IPOL_FIVEPOST-widget__panel-content {
  padding-left: 18px;
}
.IPOL_FIVEPOST-widget__panel-details__back {
  width: 46px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 4;
}
.IPOL_FIVEPOST-widget__panel-details__back svg {
  width: 12px;
  height: 25px;
  margin: auto;
}
.IPOL_FIVEPOST-widget__panel-details__back svg .path {
  fill: #b9b9b9;
  -webkit-transition: 200ms;
          transition: 200ms;
}
.IPOL_FIVEPOST-widget__panel-details__back:hover svg .path {
  fill: #fff;
}
.IPOL_FIVEPOST-widget__panel-details__block {
  margin-top: 12px;
}
.IPOL_FIVEPOST-widget__panel-details__block p {
  margin: 0;
  padding-right: 10px;
}
.IPOL_FIVEPOST-widget__panel-details__block-head {
  color: #b9b9b9;
  font-size: 14px;
  margin-bottom: 2px;
}
.IPOL_FIVEPOST-widget__panel-details__block-text {
  color: #fff;
  font-size: 16px;
}
.IPOL_FIVEPOST-widget__panel-details__block-img {
  float: left;
  margin: 0 10px 10px 0;
  width: 140px;
  height: 105px;
  overflow: hidden;
  cursor: pointer;
}
.IPOL_FIVEPOST-widget__panel-details__block-img img {
  min-height: 100%;
  min-width: 100%;
  max-height: 150%;
  width: auto;
}
.IPOL_FIVEPOST-widget__panel-contacts {
  display: none;
}
.IPOL_FIVEPOST-widget__panel-contacts .IPOL_FIVEPOST-widget__panel-content {
  color: #fff;
  padding: 0 15px 15px;
  font-size: 16px;
}
.IPOL_FIVEPOST-widget__panel-contacts .IPOL_FIVEPOST-widget__panel-content p {
  margin-bottom: 23px;
}
.IPOL_FIVEPOST-widget__panel-contacts .IPOL_FIVEPOST-widget__panel-content p a {
  color: #fff;
  font-size: 20px;
}
.IPOL_FIVEPOST-widget__panel-contacts .IPOL_FIVEPOST-widget__panel-content p a span {
  border-bottom: 1px solid;
}
.IPOL_FIVEPOST-widget__panel-contacts .IPOL_FIVEPOST-widget__panel-content p a svg {
  width: 22px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px 0 4px;
}
.IPOL_FIVEPOST-widget__panel-contacts .IPOL_FIVEPOST-widget__panel-content p a svg .path {
  fill: #fff;
  -webkit-transition: 0.5s;
          transition: 0.5s;
}
.IPOL_FIVEPOST-widget__panel-contacts .IPOL_FIVEPOST-widget__panel-content p a.IPOL_FIVEPOST-widget__phone:hover svg {
  -webkit-animation: icons 1.2s linear 0s infinite forwards;
          animation: icons 1.2s linear 0s infinite forwards;
}
.IPOL_FIVEPOST-widget__panel-contacts .IPOL_FIVEPOST-widget__panel-content p a.IPOL_FIVEPOST-widget__mail:hover svg {
  -webkit-animation: icons2 1.2s linear 0s infinite forwards;
          animation: icons2 1.2s linear 0s infinite forwards;
}
@media screen and (max-width: 400px) {
  .IPOL_FIVEPOST-widget__panel {
    max-width: calc(100% - 60px);
  }
  .IPOL_FIVEPOST-widget__panel > div {
    width: 100%;
  }
}
.IPOL_FIVEPOST-widget__photo {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease, z-index 0s ease 0.2s;
          transition: opacity 0.5s ease, z-index 0s ease 0.2s;
}
.IPOL_FIVEPOST-widget__photo-block {
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  height: 460px;
}
.IPOL_FIVEPOST-widget__photo-block img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}
.IPOL_FIVEPOST-widget__photo-block__cross {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -29px;
  right: 0;
  cursor: pointer;
}
.IPOL_FIVEPOST-widget__photo-block__cross svg .cross {
  fill: #cccccc;
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.IPOL_FIVEPOST-widget__photo-block__cross:hover svg .cross {
  fill: #50a631;
}
.IPOL_FIVEPOST-widget__photo.active {
  -webkit-transition: opacity 1s ease 0.2s;
          transition: opacity 1s ease 0.2s;
  opacity: 1;
  z-index: 10;
}
.IPOL_FIVEPOST-widget__choose {
  position: relative;
  padding: 8px 20px;
  cursor: pointer;
  font: 300 16px/1 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  border-radius: 3px;
  outline: none;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.IPOL_FIVEPOST-widget__baloon .IPOL_FIVEPOST-widget__choose {
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.IPOL_FIVEPOST-widget__choose::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  background-color: rgba(80, 166, 49, 0.5);
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  -webkit-transform: scale(0.5, 1);
      -ms-transform: scale(0.5, 1);
          transform: scale(0.5, 1);
  border-radius: 3px;
}
.IPOL_FIVEPOST-widget__choose:hover {
  border-color: rgba(80, 166, 49, 0.6);
  color: #fff;
}
.IPOL_FIVEPOST-widget__choose:hover::after {
  opacity: 1;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}
.IPOL_FIVEPOST-widget__inaccessible {
  opacity: 0;
}
.IPOL_FIVEPOST-widget__search.IPOL_FIVEPOST-widget__inaccessible {
  -webkit-transform: translateY(-55px);
      -ms-transform: translateY(-55px);
          transform: translateY(-55px);
}
.IPOL_FIVEPOST-widget__sidebar.IPOL_FIVEPOST-widget__inaccessible {
  -webkit-transform: translateX(70px);
      -ms-transform: translateX(70px);
          transform: translateX(70px);
}
.IPOL_FIVEPOST-widget__logo.IPOL_FIVEPOST-widget__inaccessible {
  -webkit-transform: translateY(75px);
      -ms-transform: translateY(75px);
          transform: translateY(75px);
}
.IPOL_FIVEPOST-widget__developer {
  position: absolute;
  right: 14px;
  bottom: 3px;
  font-size: 11px;
  color: #cfcfcf;
}
.IPOL_FIVEPOST-widget__developer a {
  display: inline-block;
  width: 65px;
  margin-left: 4px;
  vertical-align: middle;
}
.IPOL_FIVEPOST-widget__pin_green1 {
  fill: #61BC47;
}
.IPOL_FIVEPOST-widget__pin_green2 {
  fill: #58585A;
}
.IPOL_FIVEPOST-widget__pin_wight {
  fill: #fff;
}
.IPOL_FIVEPOST-widget__info {
  position: absolute;
  top: 50%;
  background: #000;
  z-index: 300;
  font-size: 14px;
  left: 10px;
  color: #fff;
  padding: 5px;
  max-width: 100%;
}
.IPOL-logo__path-a {
  fill: none;
}
.IPOL-logo__rect-c {
  fill: #ddd;
}
.IPOL-logo__rect-g {
  fill: #ddd;
}
.IPOL-logo:hover .IPOL-logo__rect-c {
  fill: url(#IPOL-logo__gradient-b);
}
.IPOL-logo:hover .IPOL-logo__rect-g {
  fill: url(#IPOL-logo__gradient-h);
}
.IPOL_FIVEPOST-widget__preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.IPOL_FIVEPOST-widget__preloader-truck {
  width: 50%;
  height: 18%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}
.IPOL_FIVEPOST-widget__preloader-truck__road {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  background: -webkit-repeating-linear-gradient(0deg, #333, #333 0.5em, transparent 0.5em, transparent 1em);
  background: repeating-linear-gradient(90deg, #333, #333 0.5em, transparent 0.5em, transparent 1em);
  background-repeat: repeat-x;
  background-size: 600px;
  bottom: 0;
  left: 0;
  background-position-x: 0;
  -webkit-animation: truck 5s linear 0s infinite normal;
          animation: truck 5s linear 0s infinite normal;
  z-index: 1;
}
.IPOL_FIVEPOST-widget__preloader-truck::after {
  content: '';
  height: 100%;
  width: 10%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: -webkit-linear-gradient(left, #fff 0%, #fff 1%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, #fff 0%, #fff 1%, rgba(255, 255, 255, 0) 100%);
}
.IPOL_FIVEPOST-widget__preloader-truck::before {
  content: '';
  height: 100%;
  width: 10%;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  background: -webkit-linear-gradient(right, #fff 0%, #fff 1%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to left, #fff 0%, #fff 1%, rgba(255, 255, 255, 0) 100%);
}
.IPOL_FIVEPOST-widget__preloader-truck svg {
  width: 17%;
  margin: auto auto 3px;
  position: relative;
  z-index: 5;
}
.IPOL_FIVEPOST-widget__preloader-truck svg .path1 {
  fill: #333;
}
.IPOL_FIVEPOST-widget__preloader-truck svg .path2 {
  fill: #0f743c;
}
.IPOL_FIVEPOST-widget__preloader-truck svg .path3 {
  fill: #91bf27;
}
.IPOL_FIVEPOST-widget__preloader-truck svg .path4 {
  fill: #91bf27;
}
.IPOL_FIVEPOST-widget__preloader-truck svg .path5 {
  fill: #efe41a;
}
.IPOL_FIVEPOST-widget__preloader-truck__grass {
  width: 100%;
  height: 20px;
  position: absolute;
  box-shadow: 0 0 0 50px rgba(143, 190, 45, 0.19), -20px 0 0 20px rgba(143, 190, 45, 0.19), -90px 0 0 50px rgba(143, 190, 45, 0.19), 250px 0 0 50px rgba(143, 190, 45, 0.19), 290px 0 0 50px rgba(143, 190, 45, 0.19), 620px 0 0 50px rgba(143, 190, 45, 0.19);
  border-radius: 50%;
  bottom: -50px;
  -webkit-transform: translateX(103%);
      -ms-transform: translateX(103%);
          transform: translateX(103%);
  -webkit-animation: gruss 5s linear 0s infinite normal;
          animation: gruss 5s linear 0s infinite normal;
}
@-webkit-keyframes truck {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -600px;
  }
}
@keyframes truck {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -600px;
  }
}
@-webkit-keyframes gruss {
  0% {
    -webkit-transform: translateX(103%);
            transform: translateX(103%);
  }
  100% {
    -webkit-transform: translateX(-250%);
            transform: translateX(-250%);
  }
}
@keyframes gruss {
  0% {
    -webkit-transform: translateX(103%);
            transform: translateX(103%);
  }
  100% {
    -webkit-transform: translateX(-250%);
            transform: translateX(-250%);
  }
}
.IPOL_FIVEPOST-widget__popup {
  width: 95%;
  height: 98%;
  min-width: 320px;
  margin: auto;
  position: relative;
  padding: 35px 0;
}
.IPOL_FIVEPOST-widget__popup-button {
  outline: none;
  background: #18b85f;
  color: #fff;
  padding: 10px 15px;
  font: 400 18px/20px 'Roboto', sans-serif;
  border-radius: 3px;
  box-shadow: inset -1px -66px 79px -62px #0f743c;
  -webkit-transition: background 0.3s, box-shadow 0.3s;
          transition: background 0.3s, box-shadow 0.3s;
  border: 1px solid #39b112;
}
.IPOL_FIVEPOST-widget__popup-button:hover {
  background: #50a631;
  box-shadow: inset -1px -66px 79px -62px #3d7f25;
}
.IPOL_FIVEPOST-widget__popup-mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2000;
}
.IPOL_FIVEPOST-widget__popup-mask.IPOL_FIVEPOST-widget__popup-mask-open {
  z-index: 2000;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}
.IPOL_FIVEPOST-widget__popup__close-btn {
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.IPOL_FIVEPOST-widget__popup__close-btn::before,
.IPOL_FIVEPOST-widget__popup__close-btn::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
  -webkit-transition: background 0.4s;
          transition: background 0.4s;
}
.IPOL_FIVEPOST-widget__popup__close-btn::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.IPOL_FIVEPOST-widget__popup__close-btn::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.IPOL_FIVEPOST-widget__popup__close-btn:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.IPOL_FIVEPOST-widget__popup__close-btn:hover::before,
.IPOL_FIVEPOST-widget__popup__close-btn:hover::after {
  background: #50a631;
}
@media screen and (max-width: 600px) {
  .IPOL_FIVEPOST-widget__popup__close-btn {
    top: 5px;
  }
}
@media screen and (max-width: 1500px) {
}
@media screen and (max-width: 600px) {
  .IPOL_FIVEPOST-widget__popup {
    height: 100%;
    width: 100%;
    padding-top: 40px;
  }
}
.IPOL_FIVEPOST-widget.nochoose .IPOL_FIVEPOST-widget__choose{
  display:none !important;
}