<li class="no-active" data-cityid="#CITYID#">
	<p class="IPOL_FIVEPOST-widget__search-list__city-name">#CITYNAME#</p>
	<p class="IPOL_FIVEPOST-widget__search-list__city-details">#CITY_DETAILS#</p>
</li>