<div class="IPOL_FIVEPOST-widget__delivery-type__item"  data-delivery-type = "pvz">
    <div class="IPOL_FIVEPOST-widget__delivery-type__item-title">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 608.99721 611.84603">
            <path class="path" d="M515.78535,336.442L609.556,529.07327c3.81317,7.83436-.195,14.2438-8.90811,14.2438H12.35346c-8.713,0-12.72227-6.40938-8.90808-14.2438L97.217,336.442a10.86137,10.86137,0,0,1,8.90808-5.57153h80.40459a11.25693,11.25693,0,0,1,7.44629,3.4251c5.4551,6.30391,11.0117,12.46254,16.55239,18.55849,5.26205,5.78647,10.552,11.64856,15.80011,17.648H130.908a10.85641,10.85641,0,0,0-8.90808,5.57153L59.88013,503.68647H553.11832L491.00357,376.07364a10.85667,10.85667,0,0,0-8.90908-5.57153H386.458c5.24714-5.99941,10.539-11.86153,15.80109-17.648,5.55759-6.11387,11.14506-12.26057,16.6131-18.56645a11.2442,11.2442,0,0,1,7.43335-3.41714h80.57375A10.85489,10.85489,0,0,1,515.78535,336.442ZM444.3625,204.79909c0,105.257-87.626,124.9977-128.83681,226.15a9.851,9.851,0,0,1-18.26991-.03981c-37.17572-91.20135-112.08538-116.211-126.41772-197.45847C156.72663,153.46615,212.10559,75.11644,292.96492,67.47312A137.99029,137.99029,0,0,1,444.3625,204.79909Zm-65.106,0a72.8568,72.8568,0,1,0-72.8568,72.8568A72.85625,72.85625,0,0,0,379.25652,204.79909Z" transform="translate(-2.00187 0.84609)"/>
        </svg>
        <span>#PICKUP#</span>
    </div>
    <div class="IPOL_FIVEPOST-widget__delivery-type__item-details">
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60">
              <g>
                <path class="path" d="M30,0a0.99909,0.99909,0,0,0-1,1V14.292a1,1,0,0,0,2,0V2.018a27.99965,27.99965,0,1,1-20.834,8.218A0.99985,0.99985,0,0,0,8.75,8.824,29.99976,29.99976,0,1,0,30,0Z" transform="translate(0 0.00003)"/>
                <path class="path" d="M28.555,33.532a3.56312,3.56312,0,1,0,4.975-4.979L20.586,19.19a1.00069,1.00069,0,0,0-1.397,1.397Z" transform="translate(0 0.00003)"/>
              </g>
            </svg>
           #TIME# #DAY#
        </p>
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 331.51501 334.87601">
              <path class="path" d="M333.196,155.999H317.129V82.09a32.17007,32.17007,0,0,0-32.134-32.134H263.234L240.965,9.917a19.28,19.28,0,0,0-26.222-7.488L129.279,49.955H33.815A32.17007,32.17007,0,0,0,1.681,82.089V302.742a32.17008,32.17008,0,0,0,32.134,32.134h251.18a32.17008,32.17008,0,0,0,32.134-32.134V237.94h16.067V155.999h0Zm-48.201-93.19a19.24277,19.24277,0,0,1,19.068,17.14H279.911l-9.525-17.14h14.609ZM220.996,13.663a6.54816,6.54816,0,0,1,8.734,2.494l35.476,63.786H101.798Zm83.279,289.079a19.30487,19.30487,0,0,1-19.281,19.281H33.815a19.30487,19.30487,0,0,1-19.281-19.281V82.09A19.30487,19.30487,0,0,1,33.815,62.809h72.353L75.345,79.95H37.832a6.427,6.427,0,0,0,0,12.854H304.275v63.201H257.276a39.63892,39.63892,0,0,0-39.589,39.589v2.764a39.63891,39.63891,0,0,0,39.589,39.589h46.999v64.795h0Zm16.067-77.655H257.276a26.76471,26.76471,0,0,1-26.736-26.736v-2.764a26.76471,26.76471,0,0,1,26.736-26.736h63.066v56.236Zm-43.381-27.59a14.19,14.19,0,1,1-14.19-14.19A14.18542,14.18542,0,0,1,276.961,197.497Z" transform="translate(-1.681 0.00003)"/>
            </svg>
            #SUMM# <span class="IPOL_FIVEPOST-widget__rub">#RUB#</span>
        </p>
    </div>
</div>