<div class="IPOL_FIVEPOST-widget__panel-details__back">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132.59574 240.822">
        <path class="path"
              d="M57.633,129.007L165.93,237.268a12.16012,12.16012,0,1,0,17.215-17.179L83.438,120.418l99.695-99.671A12.16436,12.16436,0,0,0,165.918,3.556L57.621,111.816A12.27024,12.27024,0,0,0,57.633,129.007Z"
              transform="translate(-54.11325 -0.00098)"/>
    </svg>
</div>
<div class="IPOL_FIVEPOST-widget__panel-headline">
    <span>#D_NAME#</span>
</div>
<div class="IPOL_FIVEPOST-widget__panel-content">
    <div class="IPOL_FIVEPOST-widget__panel-details__block">
        <p class="IPOL_FIVEPOST-widget__panel-details__block-head">#L_ADDRESS#:</p>
        <p class="IPOL_FIVEPOST-widget__panel-details__block-text">#D_ADDR#</p>
    </div>
    <div class="IPOL_FIVEPOST-widget__panel-details__block">
        <p class="IPOL_FIVEPOST-widget__panel-details__block-head">#L_TIME#:</p>
        <p class="IPOL_FIVEPOST-widget__panel-details__block-text">#D_TIME#</p>
    </div>
    <div class="IPOL_FIVEPOST-widget__panel-details__block">
        <p class="IPOL_FIVEPOST-widget__panel-details__block-head">#L_DESCR#:</p>
        <p class="IPOL_FIVEPOST-widget__panel-details__block-text">#D_DESCR#</p>
    </div>
    <div class="IPOL_FIVEPOST-widget__panel-details__block">
        <p class="IPOL_FIVEPOST-widget__panel-details__block-head">#L_PAYMENT#:</p>
        <p class="IPOL_FIVEPOST-widget__panel-details__block-text IPOL_FIVEPOST-widget__paymentPlace">#D_PAYMENT#</p>
    </div>
    <div class="IPOL_FIVEPOST-widget__panel-details__block ">
        <p class="IPOL_FIVEPOST-widget__panel-details__block-head">#L_PRICE#:</p>
        <p class="IPOL_FIVEPOST-widget__panel-details__block-text IPOL_FIVEPOST-widget__pricePlace">#COUNTING#</p>
    </div>
    <div class="IPOL_FIVEPOST-widget__panel-details__block">
        <button class="IPOL_FIVEPOST-widget__choose" type="button" data-label="Выбрать" id="#WID#choose_button">#L_CHOOSE#</button>

    </div>
</div>
