<div class="IPOL_FIVEPOST-widget__panel-list__item" >
    <p class="IPOL_FIVEPOST-widget__panel-list__item-name">#P_NAME#</p>
    <p class="IPOL_FIVEPOST-widget__panel-list__item-adress">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.35102 54.757">
            <g>
                <path class="svg-line" d="M27.557,12a7,7,0,1,0,7,7A7.009,7.009,0,0,0,27.557,12Zm0,12a5,5,0,1,1,5-5A5.00567,5.00567,0,0,1,27.557,24Z" transform="translate(-8.20255 0.00003)"/>
                <path class="svg-line" d="M40.94,5.617a19.1761,19.1761,0,0,0-27.12,0c-6.703,6.702-7.536,19.312-1.804,26.952L27.38,54.757,42.721,32.6C48.476,24.929,47.643,12.319,40.94,5.617Zm0.159,25.814L27.38,51.243,13.639,31.4C8.44,24.468,9.185,13.08,15.235,7.031a17.17592,17.17592,0,0,1,24.291,0C45.576,13.08,46.321,24.468,41.099,31.431Z" transform="translate(-8.20255 0.00003)"/>
            </g>
        </svg>
        #P_ADDR#
    </p>
	<p>
        <small>#P_TYPE#</small>
    </p>
</div>