<div id="#WID#IPOL_FIVEPOST_popup" class="IPOL_FIVEPOST-widget__popup-mask" style="display: none">
	<div class="IPOL_FIVEPOST-widget__popup">
		<a class="IPOL_FIVEPOST-widget__popup__close-btn" href="#"></a>
		#WIDGET#
	</div>
</div>