<div class="IPOL_FIVEPOST-widget__sidebar-burger IPOL_FIVEPOST-widget__sidebar-button" data-hint="#list">
	<span></span>
	<span></span>
	<span></span>
</div>
<div id="#WID#butn_cash" class="IPOL_FIVEPOST-widget__sidebar-button IPOL_FIVEPOST-widget__sidebar-button-point" data-hint="#point1" data-mtype="CASH_ALLOWED">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.50134 32">
	  <path class="IPOL_FIVEPOST-widget__pin_green1" d="M12.5,0A12.32748,12.32748,0,0,0,2.8,19.9L12.5,32V0Z" transform="translate(-0.2 0.00003)"/>
	  <path class="IPOL_FIVEPOST-widget__pin_green2" d="M12.5,32l9.6-12.1a12.26828,12.26828,0,0,0,2.6-7.6A12.14339,12.14339,0,0,0,12.5,0V32Z" transform="translate(-0.2 0.00003)"/>
	  
	  <path fill="#ffffff" d="m21.776596,17.521366c-4.839287,0.000704 -9.677872,0 -14.517859,-0.0007c-0.049839,0 -0.101783,0.004913 -0.150217,-0.003511c-0.151623,-0.026674 -0.26183,-0.111612 -0.273763,-0.264637c-0.012636,-0.160046 0.070897,-0.275867 0.236559,-0.310966c0.07932,-0.016146 0.162151,-0.01825 0.243577,-0.01825c3.94429,0 7.889286,0.0007 11.833578,0.0007c0.723717,0 1.447433,0 2.197124,0c0,-0.737755 0,-1.450942 0,-2.164832c0,-2.13114 0,-4.26228 -0.002808,-6.394128c0,-0.17198 0.044224,-0.324305 0.222519,-0.361508c0.091957,-0.018953 0.234455,0.023164 0.296227,0.089148c0.065285,0.070899 0.086342,0.203569 0.087044,0.308863c0.004913,1.491664 0.00351,2.982618 0.00351,4.473574c0,1.479022 0,2.958045 0,4.437066c0,0.061071 0,0.122141 0,0.19655c-0.066685,0.004913 -0.120735,0.012632 -0.175491,0.012632zm-3.327271,-1.192623c-4.133121,-0.000702 -8.266943,-0.000702 -12.40076,-0.00351c-0.091254,0 -0.206375,-0.001404 -0.268147,-0.051945c-0.075109,-0.062473 -0.15092,-0.181807 -0.142497,-0.26885c0.008423,-0.087041 0.108803,-0.181104 0.192336,-0.239366c0.058262,-0.040713 0.156537,-0.032991 0.237261,-0.032991c4.007465,-0.001405 8.014934,-0.001405 12.022405,-0.001405c0.673176,0 1.347054,0 2.032162,0c0.004913,-0.05756 0.012638,-0.104592 0.012638,-0.152325c0,-2.771324 -0.000706,-5.542648 0.001404,-8.313979c0,-0.108804 0.000702,-0.237262 0.056858,-0.320092c0.052647,-0.076513 0.183208,-0.148815 0.271656,-0.140391c0.087746,0.008423 0.175488,0.111611 0.242878,0.19023c0.034393,0.040011 0.032288,0.117929 0.032288,0.178297c0.001408,3.019825 0.001408,6.040343 0.001408,9.060158c0,0.023867 -0.004913,0.047733 -0.00983,0.096169c-0.77145,0 -1.526756,0 -2.282059,0zm-14.045443,-10.741344c5.033724,0 10.067455,0 15.11452,0c0,3.180569 0,6.352012 0,9.546616c-5.038642,0 -10.076583,0 -15.11452,0c0,-3.181969 0,-6.364643 0,-9.546616zm0.619827,8.940125c4.637822,0 9.260907,0 13.892416,0c0,-2.779045 0,-5.547565 0,-8.330124c-4.643443,0 -9.27074,0 -13.892416,0c0,2.786772 0,5.560204 0,8.330124zm12.344603,-6.555579c-0.294823,0.006318 -0.590347,0.001405 -0.885872,0.001405c0,0 0,0.000701 0,0.001403c-0.270252,0 -0.539803,0 -0.810757,-0.000702c-0.216206,-0.000701 -0.365019,-0.117227 -0.369932,-0.2871c-0.005617,-0.180403 0.138987,-0.307457 0.367825,-0.308861c0.565077,-0.002808 1.13085,-0.002808 1.69663,0c0.202862,0.001404 0.343254,0.127756 0.34185,0.29412c-0.002106,0.169873 -0.135479,0.295523 -0.339745,0.299735zm-5.421212,5.075153c-1.499378,-0.009827 -2.720782,-1.236145 -2.701829,-2.715167c0.01825,-1.485343 1.247375,-2.668144 2.760795,-2.655509c1.477618,0.012635 2.69832,1.236852 2.684984,2.694117c-0.013339,1.488147 -1.241061,2.685685 -2.74395,2.676559zm0.004914,-4.77331c-1.164545,0.006317 -2.108677,0.951156 -2.101658,2.101665c0.007723,1.156121 0.966596,2.079896 2.150795,2.072174c1.138574,-0.008423 2.089725,-0.959575 2.082004,-2.083406c-0.007723,-1.167356 -0.955363,-2.097452 -2.131141,-2.090432zm-3.645962,5.06743c-0.294822,0.008423 -0.590344,0.002107 -0.885163,0.002107c0,0 0,0.000701 0,0.000701c-0.27657,0 -0.553141,0.001405 -0.82901,-0.000701c-0.220414,-0.001404 -0.365017,-0.118631 -0.365719,-0.290611c-0.001404,-0.174086 0.138987,-0.302543 0.353786,-0.303946c0.572093,-0.004212 1.143484,-0.002808 1.714874,0c0.191634,0.000702 0.331323,0.122141 0.338343,0.280082c0.00702,0.167766 -0.127053,0.306753 -0.327111,0.312369z"/>
	  
	  
	</svg>
</div>
<div id="#WID#butn_card" class="IPOL_FIVEPOST-widget__sidebar-button IPOL_FIVEPOST-widget__sidebar-button-point" data-hint="#point2" data-mtype="CARD_ALLOWED">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.50134 32">
	  <path class="IPOL_FIVEPOST-widget__pin_green1" d="M12.5,0A12.32748,12.32748,0,0,0,2.8,19.9L12.5,32V0Z" transform="translate(-0.2 0.00003)"/>
	  <path class="IPOL_FIVEPOST-widget__pin_green2" d="M12.5,32l9.6-12.1a12.26828,12.26828,0,0,0,2.6-7.6A12.14339,12.14339,0,0,0,12.5,0V32Z" transform="translate(-0.2 0.00003)"/>
		<g>
			<path class="IPOL_FIVEPOST-widget__pin_wight" d="M19.4,5.5a1.26754,1.26754,0,0,0-.9-0.4H6.5a1.22153,1.22153,0,0,0-.9.4,1.48929,1.48929,0,0,0-.4.9v9.2a1.22153,1.22153,0,0,0,.4.9,1.26754,1.26754,0,0,0,.9.4H18.6a1.22154,1.22154,0,0,0,.9-0.4,1.26754,1.26754,0,0,0,.4-0.9V6.4A2.62187,2.62187,0,0,0,19.4,5.5ZM18.8,15.6a0.19962,0.19962,0,0,1-.1.2,0.34914,0.34914,0,0,1-.2.1H6.5a0.19962,0.19962,0,0,1-.2-0.1,0.34914,0.34914,0,0,1-.1-0.2V11H18.8v4.6h0Zm0-7.5H6.2V6.4a0.19962,0.19962,0,0,1,.1-0.2,0.34914,0.34914,0,0,1,.2-0.1H18.6a0.19962,0.19962,0,0,1,.2.1,0.34914,0.34914,0,0,1,.1.2L18.8,8.1h0Z" transform="translate(-0.2 0.00003)"/>
			<rect class="IPOL_FIVEPOST-widget__pin_wight" x="15" y="13.1" width="1.8" height="1.7"/>
		</g>
	</svg>
</div>