<div class="IPOL_FIVEPOST-widget" id="#WID#IPOL_FIVEPOST_widget_cnt">
	<div class="IPOL_FIVEPOST-widget__preloader" id="#PRELOADER#">
		<div class="IPOL_FIVEPOST-widget__preloader-truck" >
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 440.34302 315.71001">
			  <g>
				<path class="path1" d="M416.43,188.455q-1.014-1.314-1.95-2.542c-7.762-10.228-14.037-21.74-19.573-31.897-5.428-9.959-10.555-19.366-16.153-25.871-12.489-14.513-24.24-21.567-35.925-21.567H285.128c-0.055.001-5.567,0.068-12.201,0.068h-9.409a14.72864,14.72864,0,0,0-14.262,11.104l-0.078.305V245.456l0.014,0.262a4.86644,4.86644,0,0,1-1.289,3.472c-1.587,1.734-4.634,2.65-8.812,2.65H14.345C6.435,251.839,0,257.893,0,265.334v46.388c0,7.441,6.435,13.495,14.345,13.495h49.36a57.8909,57.8909,0,0,0,115.335,0h82.61a57.89089,57.89089,0,0,0,115.335,0H414.53a25.8416,25.8416,0,0,0,25.813-25.811v-44.29C440.344,219.47,425.953,200.805,416.43,188.455ZM340.907,320.132a21.5865,21.5865,0,1,1-21.59-21.584A21.61074,21.61074,0,0,1,340.907,320.132ZM390.551,207.76c-0.451.745-1.739,1.066-3.695,0.941l-99.197-.005V127.782h42.886c11.539,0,19.716,5.023,28.224,17.337,5.658,8.19,20.639,33.977,21.403,35.293,0.532,1.027,1.079,2.071,1.631,3.125C386.125,191.798,392.658,204.279,390.551,207.76ZM121.372,298.548a21.58351,21.58351,0,1,1-21.583,21.584A21.6116,21.6116,0,0,1,121.372,298.548Z" transform="translate(0 -62.31697)"/>
				<path class="path2" d="M30.234,231.317h68a12.51354,12.51354,0,0,0,12.5-12.5v-50a12.51354,12.51354,0,0,0-12.5-12.5h-68a12.51354,12.51354,0,0,0-12.5,12.5v50A12.51418,12.51418,0,0,0,30.234,231.317Z" transform="translate(0 -62.31697)"/>
				<path class="path3" d="M143.234,231.317h68a12.51354,12.51354,0,0,0,12.5-12.5v-50a12.51354,12.51354,0,0,0-12.5-12.5h-68a12.51354,12.51354,0,0,0-12.5,12.5v50A12.51418,12.51418,0,0,0,143.234,231.317Z" transform="translate(0 -62.31697)"/>
				<path class="path4" d="M30.234,137.317h68a12.51354,12.51354,0,0,0,12.5-12.5v-50a12.51355,12.51355,0,0,0-12.5-12.5h-68a12.51355,12.51355,0,0,0-12.5,12.5v50A12.51418,12.51418,0,0,0,30.234,137.317Z" transform="translate(0 -62.31697)"/>
				<path class="path5" d="M143.234,137.317h68a12.51354,12.51354,0,0,0,12.5-12.5v-50a12.51354,12.51354,0,0,0-12.5-12.5h-68a12.51354,12.51354,0,0,0-12.5,12.5v50A12.51418,12.51418,0,0,0,143.234,137.317Z" transform="translate(0 -62.31697)"/>
			  </g>
			</svg>
			<div class="IPOL_FIVEPOST-widget__preloader-truck__grass"></div>
			<div class="IPOL_FIVEPOST-widget__preloader-truck__road"></div>
		</div>
	</div>
	<div id="#MAP#" class="IPOL_FIVEPOST-widget__map"></div>
	<div class="IPOL_FIVEPOST-widget__search IPOL_FIVEPOST-widget__inaccessible">
		<div class="IPOL_FIVEPOST-widget__search-box">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.63557 50.41538">
			  <path class="path" d="M51.353,0.914A0.99853,0.99853,0,0,0,50.218.701L0.583,23.481a1,1,0,0,0,.252,1.895l22.263,3.731,2.545,21.038a1.00164,1.00164,0,0,0,.824.865,0.97388,0.97388,0,0,0,.169.015,0.999,0.999,0,0,0,.896-0.556l24-48.415A0.99978,0.99978,0,0,0,51.353.914ZM27.226,46.582L24.994,28.125a1.00155,1.00155,0,0,0-.828-0.866L4.374,23.941,48.485,3.697Z" transform="translate(-0.0002 -0.6096)"/>
			</svg>
			<input type="text" name="town" value="#CITY#" placeholder="#CITYSEARCH#" id="#WID#IPOL_FIVEPOST_search_input">
		</div>

		<div class="IPOL_FIVEPOST-widget__search-list">
			<div class="IPOL_FIVEPOST-widget__search-list__box">
				<ul id="#WID#city_list">
	
				</ul>
			</div>
		</div>
	</div>
	<div class="IPOL_FIVEPOST-widget__sidebar IPOL_FIVEPOST-widget__inaccessible" id="#WID#sidebar">
	</div>
	<div class="IPOL_FIVEPOST-widget__panel" id="#WID#panel">
        <div class="IPOL_FIVEPOST-widget__panel-list" id="#WID#pointlist"></div>
        <div class="IPOL_FIVEPOST-widget__panel-details" id="#WID#detail_panel"></div>
    </div>
	
	<div class="IPOL_FIVEPOST-widget__photo">
		<div class="IPOL_FIVEPOST-widget__photo-block">
			<div class="IPOL_FIVEPOST-widget__photo-block__cross">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.6435 15.64375">
				  <path class="cross" d="M8.882,7.821L15.423,1.28A0.75024,0.75024,0,1,0,14.362.219L7.821,6.76,1.28,0.22A0.75024,0.75024,0,0,0,.219,1.281L6.76,7.822l-6.54,6.54a0.74989,0.74989,0,1,0,1.06,1.061L7.821,8.882l6.541,6.541a0.74989,0.74989,0,1,0,1.06-1.061Z" transform="translate(0.00075 0.00078)"/>
				</svg>
			</div>
			<img src="#">
		</div>
	</div>
    <div class="IPOL_FIVEPOST-widget__sidebar-button__hint" id="list">#H_LIST#</div>
    <div class="IPOL_FIVEPOST-widget__sidebar-button__hint" id="delivery">#H_PROFILE#</div>
    <div class="IPOL_FIVEPOST-widget__sidebar-button__hint" id="point1">#H_CASH#</div>
    <div class="IPOL_FIVEPOST-widget__sidebar-button__hint" id="point2">#H_CARD#</div>
    <div class="IPOL_FIVEPOST-widget__sidebar-button__hint" id="contacts">#H_SUPPORT#</div>
    <div id='#WID#SDEK_closer' class='SDEK_closer'></div>
</div>