/* Module menu */
.ipol_fivepost_menu_icon {
    background: url(icons/ipol.fivepost/icon.png) no-repeat center;
}

.ipol_fivepost_page_icon {
    background: url(icons/ipol.fivepost/icon_page.png) no-repeat center;
}